<div class="container">
  <h1><%= @user.username %>'s Games Library</h1>


  <ul class="owned-games-list">
    <%= render @user.owned_games %>
  </ul>

  <ul class="favorites-list">
    <%= render @user.favorited_games %>
  </ul>

</div>
