
  <div class="card title-card">
    <h2><%= @user.username.capitalize %>'s Library</h2>
  </div>

<ul id="tabs-swipe" class="tabs">
    <li class="tab col s3 active"><a href="#test-swipe-1" class="profile-links">Profile</a></li>
    <li class="tab col s3"><a href="#test-swipe-2" class="profile-links">Owned Games</a></li>
    <li class="tab col s3"><a class="profile-links" href="#test-swipe-3">Favorited Games</a></li>
</ul>
  <div class="card title-card col s12" id="test-swipe-1">
    <%= render partial: 'profile', locals: { user: @user } %>
  </div>

   <div class="card title-card col s12" id="test-swipe-2">
    <h4>Owned Games</h4>
    <hr>
      <% @user.owned_games.each do |game| %>
         <%= render partial: 'games/game_card', locals: { game: game } %>
      <% end %>
  </div>
  <div class="card title-card col s12" id="test-swipe-3">
    <h4> Favorited Games </h4>
    <hr>
      <% @user.favorited_games.each do |game| %>
         <%= render partial: 'games/game_card', locals: { game: game } %>
      <% end %>
  </div>


