<div>
  <div class="card title-card">
    <h3>Best Sellers</h3>
  </div>
  <!-- top 3-5 games with most owners -->
</div>

<div>
  <div class="card title-card">
    <h3>Most Popular</h3>
  </div>
  <!-- top 3-5 games with most fans -->
</div>
