<!-- THIS IS A PARTIAL REPRESENTING A GAME CARD THAT CAN BE LISTED BONANZA -->

<div class="game-card">
  <%= image_tag(game.image_url) %>
  <h2><%= game.title %></h2>
  <!-- <%= game.fans.count %> Fans -->
  <!-- <%= game.owners.count %> Owners -->
</div>
