<h1 class="page-title">Games</h1>
<% if @games.blank? %>
  <p>There are no games containing the term '<%= params[:search] %>'.</p>
<% else %>
  <div class="game-cards">
    <% @games.each do |game| %>
      <%= render partial: 'game_card', locals: { game: game } %>
    <% end %>
  </div>
<% end %>

