<div class="card title-card">
  <h2 class="page-title">Games</h2> 
</div>
<% if @games.blank? %>
<div class="card title-card">
  <p>Sorry! There are no games containing the term '<%= params[:search] %>'.</p>
</div>
<% else %>
  <div class="game-cards">
    <% @games.each do |game| %>
      <%= render partial: 'game_card', locals: { game: game, favoriting: @favoriting, ownership: @ownership } %>
    <% end %>
  </div>
<% end %>

