/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: 'Philosopher', GillSans;
  font-size: 1.1em;
}
main {
  padding: 1% 2%;
  margin: auto;
  max-width: 1400px;
  margin-top: 0px;
}

body {
  background-color: #dee8eb;

}

header {
  background-color: #26a69a;
}

#navigation-bar {
  background-color: rgba(51,51,51,0.08);
}

.form {
  margin: 2% auto;
  text-align: center;
  max-width: 500px;
  padding: 1% 5%;
}

.card-div {
  display: inline-block;
  width: 22%;
  margin: 1%;
}
.game-cards {
  vertical-align: text-top;
  margin: auto;
  /*text-align: cen;*/
}
.page-title {
  margin-left: 3%;
}

.reviews, .body {
  padding: 2%;
}

#game-title {
  font-size: 45px;
}


#searchbar-nav {
  background-color: #A8A8A8;
}

#search {
  font-size: 1.2em;
}

.navbar-links {
  margin: 0% 2%;
}

#main-title {
  margin: 0;
  padding: 70px 40px 30px 30px;
  text-shadow: 1px 2px #007a6b;
}

#main-link {
  text-decoration: none;
  color: white;
}

.title-card {
  padding: 1%;
}

.submit-p {
  text-align: center;
}

.form {
  padding: 20px 1%;
}

.row {
  padding: 1% 1%;
}

.error {
  color: red;
}

input.input-sizing {
  font-size: 26px !important;
}

.game-details, #game-title {
  font-weight: bolder;
}

footer.page-footer {
  background-color: #26a69a;
}

.profile-links {
  font-size: 1.3em !important;
  color: #26a69a !important;
}

.write-review {
  text-align: center;
  margin: auto;
  max-width: 80%;
}
.indicator {
  background-color: #02e3b0 !important;
}