<div class='card title-card'>
  <h1> Games in <%= @category.name %> </h1>
  <div class='game-cards'>
    <% @category.games.each do |game| %>
      <%= render partial: 'games/game_card', locals: {game: game, favoriting: @favoriting, ownership: @ownership} %>
      <% end %>
  </div>
</div>
