<!-- THIS PARTIAL IS A REVIEW CARD (WIDE) -->

<div class="review-card">
  <h2><%= review.title %></h2>
  <p class="game-details"><%= review.author.username %> on <%= review.game.title %></p>

  <p class="review-body"><%= review.body %></p>
</div>
