<!-- THIS PARTIAL IS A REVIEW CARD (WIDE) -->

 <div class="row">
      <div class="col s12">
        <div class="card-panel teal">
          <span class="card-title white-text review-title xxee"><%= review.title %></span>
          <hr>
          <p class="review-body white-text"><%= review.body %></p>
          <small class="white-text right"> Created <%= time_ago_in_words(review.created_at) %> ago by <%=review.author.username %></small>
        </div>
      </div>
    </div>
