<!DOCTYPE html>
<html>
  <head>
    <title>GameKnight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>Game Knight</h1>

    <div id="main-content">
    <%= yield %>
    </div>
  </body>
</html>
